node_modules
.env
localhost-key.pem
localhost.pem
rootCA-key.pem
rootCA.pem

uploads/shop/logoAndHeader/*
!uploads/shop/logoAndHeader/.gitignore
uploads/shop/product/*
!uploads/shop/product/.gitignore
uploads/shop/variation/*
!uploads/shop/variation/.gitignore
uploads/shop/ads/*
!uploads/shop/ads/.gitignore
uploads/user/profilePic/*
!uploads/user/profilePic/.gitignore
